
$background-image-line:url('./images/bgr_body.png');
$logo-image:url('./images/logo.png');
$frame-image:url('./images/frame.png');


$eye-open:url('./images/eye_open.svg');
$eye-closed:url('./images/eye_closed.svg');