$logo-image:url('./images/logo.png');
$frame-image:url('./images/frame.jpg');

$eye-open:url('./images/eye_open.svg');
$eye-closed:url('./images/eye_closed.svg');

$user-image:url('./images/user.svg');
$logout-image:url('./images/logout.svg');
$logout-image-hover:url('./images/logout-hover.svg');
$done-icon:url('./images/done.svg');
$mfa-image:url('./images/mfa-img.png');
$qrCodelink:url('./images/qrCodeLink.png');
$check-mark-big:url('./images/check-mark-big.svg');
$attention-big:url('./images/attention-big.svg');
$spinner:url('./images/spinner.svg');
$bucket-icon:url('./images/bucket.svg');
$bucket-red-icon:url('./images/bucket-red.svg');
$edit-icon:url('./images/edit.svg');
$arrow-icon:url('./images/arrow.svg');