.personal {
    margin-top: 60px;
}

.personal-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    @include font-bolder();
}

.personal-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    @include font-bolder();
}

.personal-info__logo {
    background: $user-image;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
}

.personal-info__name {
    font-size: 1.75rem;
}

.personal-logout {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover > .personal-logout__text {
        color:$red;
    }
    
    &:hover > .personal-logout__logo {
        background: $logout-image-hover;
    }
    &:hover {
        background-color: $gray-lighten;
        border-radius: $border-radius;
    }
    padding: 0.5rem;
}

.personal-logout__text {
    font-size: 1.125rem;
    color: $gray-light;
}

.personal-logout__logo {
    background: $logout-image;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
}

.personal-expiration {
    display: flex;
    gap: 5px;
}

.personal-expiration__text {
    color: $gray-light;
}

.personal-two-factor {
    display: flex;
    gap: 5px;
}

.personal-two-factor__text {
    color: $gray-light;
}

.personal-two-factor__value {
    color: $red;
}

.personal-two-factor__value--on {
    color: $green;
}

.personal-two-factor-heading {
    font-size: 1.5rem;
    @include font-bolder();
    padding: 0.5rem;
}

.personal-two-factor-blocks {
    display: flex;
    gap: 20px;
}

.personal-two-factor-block {
    flex: 1 1 auto;
    height: 130px;
    border: $border;
    border-radius: $border-radius;
    font-size: 2rem;
    @include font-bolder();
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    & .personal-two-factor-block--done {
        position:absolute;
        background: $done-icon;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 28px;
        width: 28px;
        bottom: 1rem;
        right: 1rem;
    }
}
